<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <lib-ngx-switch [theme]="customThemeDefault"></lib-ngx-switch>
  <lib-ngx-switch [theme]="customThemeVertical"></lib-ngx-switch>
  <lib-ngx-switch [theme]="customThemeHCustomColors"></lib-ngx-switch>
  <!-- <lib-ngx-switch [theme]="customThemeVCustomColors"></lib-ngx-switch> -->
  <lib-ngx-switch [theme]="customThemeHCustomRadius"></lib-ngx-switch>
  <!-- <lib-ngx-switch [theme]="customThemeVCustomRadius"></lib-ngx-switch> -->
</div>


